@model IEnumerable<MvcPresentationLayer.Models.Section>
<table class="table">

    @foreach (var item in Model)
    {
        <tr class="success">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Add Forum", "Create", "Forum", new { sectionId = item.Id }, null)
            </td>
        </tr>
        if (item.Forums != null)
        {
            foreach (var frm in item.Forums)
            {
                <tr>
                    <td>
                        @Html.ActionLink(frm.Title, "Index", "Forum", new { id = frm.Id }, null)
                    </td>
                </tr>
            }
        }
    }

</table>
