@model MvcPresentationLayer.Models.Section

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@{
    ViewBag.Title = "Forum";
}

<h2>Forum</h2>
@if (Request.RequestContext.HttpContext.User.IsInRole("admin"))
{
@Html.ActionLink("Create new section", "Create", null, new { @class = "createNewSection btn btn-default" })
}
<div id="sections">
    @{Html.RenderAction("GetSections");}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".createNewSection").click(function (e) {

                e.preventDefault();
                $('#dialogContent').html();
                $('#modDialog').modal('show');
                $.validator.unobtrusive.parse("#createNewSection");
            });
        });
    </script>
}