@model MvcPresentationLayer.Models.Section

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Create new section", "Create",null,new { @class = "createNewSection" })
<div id="sections">
    <!--Html.Partial("SectionPartial")-->
    <!--Html.Action("GetSections")-->
    @{Html.RenderAction("GetSections");}
</div>
<!--if (Request.RequestContext.HttpContext.User.IsInRole("admin"))-->
{
   <!--<p>
        Html.ActionLink("Add new section ajax", "CreatePartial")
    </p>--> 
   <!-- using (Ajax.BeginForm("Create",new AjaxOptions { UpdateTargetId = "sections"}))
    {
        Html.AntiForgeryToken()

        <div class="form-horizontal">
            Html.ValidationSummary(true, "", new { class = "text-danger" })
            <div class="form-group">
                Html.LabelFor(model => model.Name, htmlAttributes: new { class = "control-label col-md-2" })
                <div class="col-md-10">
                    Html.EditorFor(model => model.Name, new { htmlAttributes = new { class = "form-control" } })
                    Html.ValidationMessageFor(model => model.Name, "", new { class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".createNewSection").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })</script>
}