@model MvcPresentationLayer.Models.Topic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="topics">
    @{
        Html.RenderPartial("GetTopics");
    }
</div>
