@model MvcPresentationLayer.Models.Forum
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
        <tr class="success">
            <td>
                @Model.Title
            </td>
        </tr>
    @if (Model.Topics != null)
    {
        foreach (var tpc in Model.Topics)
        {
            <tr>
                <td>
                    @Html.ActionLink(tpc.Title, "Index", "Topic", new { id = tpc.Id }, null)
                </td>
            </tr>
        }
    }
</table>