
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NotFound</h2>

<hgroup class="title">
    <h1 class="error">Error 404.</h1>
    <h2 class="error">Oh no :(.</h2>
</hgroup>