@model MvcPresentationLayer.Models.Topic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Html.DisplayFor(item => Model.Title)</h2>
<div>
    @Html.DisplayFor(item => Model.Description)
</div>
@if (Model.Posts != null)
{
<div id="getPosts">
    @{Html.RenderAction("GetPosts",new { topicId=Model.Id});}
</div>
        }
<!--<p>
    Html.ActionLink("Create New", "Create")
</p>
<p>
    Html.Partial("Answer")
</p>

<p>
    Ajax.ActionLink("To Answer", "Add",
             new AjaxOptions { UpdateTargetId = "part_view", InsertionMode = InsertionMode.Replace })
</p>

<div id="part_view"></div>-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}