
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2> 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.Partial("Answer")
</p>

<p>
    @Ajax.ActionLink("To Answer", "Add",
             new AjaxOptions { UpdateTargetId = "part_view", InsertionMode = InsertionMode.Replace })
</p>

<div id="part_view"></div>